<div id="comments" class="comments-area">
    <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link"
                    href="/nature/winter-activities.html#respond" style="display:none;">Cancel reply</a></small></h3>
        <form action="http://travel.panshin.me/wp-comments-post.php" method="post" id="commentform" class="comment-form">
            <p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment"
                    cols="45" rows="8" maxlength="65525" required="required"></textarea></p>
            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                <input type='hidden' name='comment_post_ID' value='264' id='comment_post_ID' />
                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
            </p>
            <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce"
                    value="d25d665825" /></p><input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled"
                value="59feb17073" />
            <script>(function () { if (window === window.parent) { document.getElementById('_wp_unfiltered_html_comment_disabled').name = '_wp_unfiltered_html_comment'; } })();</script>
            <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="96" /></p>
        </form>
    </div><!-- #respond -->
    <p class="akismet_comment_form_privacy_notice">This site uses Akismet to reduce spam. <a href="https://akismet.com/privacy/"
            target="_blank" rel="nofollow noopener">Learn how your comment data is processed</a>.</p>
</div><!-- #comments -->